@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
