@import "variables";
@import "mixin";
html {
    font-size: 62.5%; // 1rem = 10px
}
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
body {
    font-family: "Poppins", sans-serif;
    color: $text-gray;
    line-height: 1.4;
    font-weight: 400;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
}